{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom du Skript</th>
            <th>Version</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for skript in skripts %}
        <tr>
            <th>{{ skript.id }}</th>
            <td>{{ skript.name }}</td>
            <td>{{ skript.version }}</td>
            <td>{{ skript.description }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}